/Self-Projects/Image - Fashion MNIST/fashion-mnist_test.csv
/Self-Projects/Image - Fashion MNIST/fashion-mnist_train.csv
/Self-Projects/Image - Fashion MNIST/t10k-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/t10k-labels-idx1-ubyte
/Self-Projects/Image - Fashion MNIST/train-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/train-labels-idx1-ubyte
/Digit-Recognizer/sample_submission.csv
/Digit-Recognizer/test.csv
/Digit-Recognizer/train.csv
/Self-Projects/Image - Cats & Dogs Classification/test
/Self-Projects/Image - Cats & Dogs Classification/train
/Self-Projects/Image - Cats & Dogs Classification/model.h5
/Self-Projects/Image - Cats & Dogs Classification/model_own.h5
/Self-Projects/Image - Cats & Dogs Classification/best_model.h5
/Self-Projects/Image - Animal V2/Animal Classification
/Self-Projects/Image - Animal V2/Animal-Data-V2
/Self-Projects/Image - Animal V2/My-Model.h5
/Self-Projects/Image - Animal V2/OwnModel-Animals.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/PetImages/
/Self-Projects/Image - Cats vs Dogs Classification -new/model.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/Data
/Self-Projects/Image - Cats vs Dogs Classification -new/MYmodel.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/inception_model.h5
/Self-Projects/Taxi Fare NYC - Predicting Price/rf-cv.pkl
/Self-Projects/Taxi Fare NYC - Predicting Price/taximodel.h5
/Self-Projects/song popularity/songmodel.h5
/Self-Projects/Engineering Salary Prediction/engg_model.h5
/Self-Projects/Engineering Salary Prediction/describe_df1.csv
/Self-Projects/Airline Passenger Satisfaction/sat_model.h5
/Self-Projects/House Rent Prediction/rent_model.h5
/Self-Projects/dma-project/rent_model.h5
dma-project/rent_model.h5
/kaggle-house-price-prediction/data_description.txt
/kaggle-house-price-prediction/sample_submission.csv
/kaggle-house-price-prediction/test.csv
/kaggle-house-price-prediction/train.csv
/kaggle-house-price-prediction/rent_model.h5
/kaggle-house-price-prediction/pred_rfcv.csv
/kaggle-house-price-prediction/pred_rfcv-fulldata.csv
/Self-Projects/Customer Churn/churn_model.h5
/Self-Projects/Churn Factors/Churn Modeling.csv
/Self-Projects/Churn Factors/churn_model.h5
/Self-Projects/ISP Churn/rfcv.pkl
/Self-Projects/ISP Churn/churn_model.h5
/Self-Projects/Maternal Risk/maternal_model.h5
/spaceship_titanic/Predictions_new_CNN.csv
/spaceship_titanic/Predictions_new_RFcv.csv
/spaceship_titanic/Predictions_new.csv
/spaceship_titanic/space_model.h5
KKBox/members_v3.csv
KKBox/train_v2.csv
KKBox/transactions_v2.csv
/KKBox/user_logs_v2.csv
/Self-Projects/Bankruptcy/data.csv
/Self-Projects/Bankruptcy/bank_model.h5
/Playground S3e3/emp_model.h5
Playground S3e3/sample_submission.csv
Playground S3e3/test.csv
Playground S3e3/train.csv
/ML Olympiad Water Quality/sample_submission.csv
ML Olympiad Water Quality/test.csv
ML Olympiad Water Quality/train.csv
ML Olympiad Water Quality/water_model.h5
Self-Projects/Cement/cement_model.h5
/Self-Projects/Hotel Reservation/catboost_info
/Self-Projects/Organics/organics_model.h5