/Self-Projects/Image - Fashion MNIST/fashion-mnist_test.csv
/Self-Projects/Image - Fashion MNIST/fashion-mnist_train.csv
/Self-Projects/Image - Fashion MNIST/t10k-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/t10k-labels-idx1-ubyte
/Self-Projects/Image - Fashion MNIST/train-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/train-labels-idx1-ubyte
/Digit-Recognizer/sample_submission.csv
/Digit-Recognizer/test.csv
/Digit-Recognizer/train.csv
/Self-Projects/Image - Cats & Dogs Classification/test
/Self-Projects/Image - Cats & Dogs Classification/train
/Self-Projects/Image - Cats & Dogs Classification/model.h5
/Self-Projects/Image - Cats & Dogs Classification/model_own.h5
/Self-Projects/Image - Cats & Dogs Classification/best_model.h5
/Self-Projects/Image - Animal V2/Animal Classification
/Self-Projects/Image - Animal V2/Animal-Data-V2
/Self-Projects/Image - Animal V2/My-Model.h5
/Self-Projects/Image - Animal V2/OwnModel-Animals.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/PetImages/
/Self-Projects/Image - Cats vs Dogs Classification -new/model.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/Data
/Self-Projects/Image - Cats vs Dogs Classification -new/MYmodel.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/inception_model.h5
/Self-Projects/Taxi Fare NYC - Predicting Price/rf-cv.pkl
/Self-Projects/Taxi Fare NYC - Predicting Price/taximodel.h5
/Self-Projects/song popularity/songmodel.h5
/Self-Projects/Engineering Salary Prediction/engg_model.h5
/Self-Projects/Engineering Salary Prediction/describe_df1.csv
/Self-Projects/Airline Passenger Satisfaction/sat_model.h5
/Self-Projects/House Rent Prediction/rent_model.h5
/Self-Projects/dma-project/rent_model.h5
dma-project/rent_model.h5
/kaggle-house-price-prediction/data_description.txt
/kaggle-house-price-prediction/sample_submission.csv
/kaggle-house-price-prediction/test.csv
/kaggle-house-price-prediction/train.csv
/kaggle-house-price-prediction/rent_model.h5
/kaggle-house-price-prediction/pred_rfcv.csv
/kaggle-house-price-prediction/pred_rfcv-fulldata.csv
/Self-Projects/Customer Churn/churn_model.h5
/Self-Projects/Churn Factors/Churn Modeling.csv
/Self-Projects/Churn Factors/churn_model.h5
/Self-Projects/ISP Churn/rfcv.pkl
/Self-Projects/ISP Churn/churn_model.h5
/Self-Projects/Maternal Risk/maternal_model.h5
/spaceship_titanic/Predictions_new_CNN.csv
/spaceship_titanic/Predictions_new_RFcv.csv
/spaceship_titanic/Predictions_new.csv
/spaceship_titanic/space_model.h5
KKBox/members_v3.csv
KKBox/train_v2.csv
KKBox/transactions_v2.csv
/KKBox/user_logs_v2.csv
/Self-Projects/Bankruptcy/data.csv
/Self-Projects/Bankruptcy/bank_model.h5
/Playground S3e3/emp_model.h5
Playground S3e3/sample_submission.csv
Playground S3e3/test.csv
Playground S3e3/train.csv
/ML Olympiad Water Quality/sample_submission.csv
ML Olympiad Water Quality/test.csv
ML Olympiad Water Quality/train.csv
ML Olympiad Water Quality/water_model.h5
Self-Projects/Cement/cement_model.h5
/Self-Projects/Hotel Reservation/catboost_info
/Self-Projects/Organics/organics_model.h5
Self-Projects/Car Price barcelona/car_model.h5
/Playground s3e3 wine quality/sample_submission.csv
Playground s3e3 wine quality/test.csv
Playground s3e3 wine quality/train.csv
Self-Projects/Active-Donors-PM/donor_model.h5
/Playground s3e7 reservation cancellation/sample_submission.csv
/Playground s3e7 reservation cancellation/test.csv
/Playground s3e7 reservation cancellation/train.csv
Playground s3e7 reservation cancellation/hotel_model.h5
Playground s3e7 reservation cancellation/adaboost_preds.csv
Playground s3e7 reservation cancellation/catboost_preds.csv
Playground s3e7 reservation cancellation/lgbm_preds.csv
/Playground s3e7 reservation cancellation/catboost_info
Playground s3e7 reservation cancellation/catboost_preds_fulldata.csv
Playground s3e7 reservation cancellation/adaboost_preds_fulldata.csv
Self-Projects/trial/rent_model.h5
kaggle-house-price-prediction/catboost_preds.csv
Playground s3e8 gemstone/gem_model.h5
Playground s3e8 gemstone/xgb_solo_sub.csv
Playground s3e8 gemstone/rf_solo_sub.csv
.gitignore
Playground s3e8 gemstone/final_ensemble.csv
.gitignore
.gitignore
/Playground s3e8 gemstone/ann_solo_sub.csv
Playground s3e8 gemstone/cat_solo_sub.csv
Playground s3e8 gemstone/lgbm_solo_sub.csv
/Playground s3e9 concrete/sas_miner_poly+hpna_ensemble.csv
Playground s3e9 concrete/ens_lgbm_xgb_sub.csv
Playground s3e9 concrete/lgbm_solo_sub.csv
dma-project/cat_solo_sub.csv
dma-project/ens_cat_xgb_sub.csv
Titanic-MachineLearningFromDisaster/ens_xgb_lgbm_lr_fulldata_subs.csv
Titanic-MachineLearningFromDisaster/ens_xgb_lgbm_lr_subs.csv
Titanic-MachineLearningFromDisaster/gender_submission.csv
Titanic-MachineLearningFromDisaster/sasminer_ens.csv
.gitignore
Titanic-MachineLearningFromDisaster/solo_xgb_subs.csv
Titanic-MachineLearningFromDisaster/test.csv
.gitignore
Titanic-MachineLearningFromDisaster/train.csv
Titanic-MachineLearningFromDisaster/titanic_model.h5
Titanic-MachineLearningFromDisaster/solo_xgb_fulldata_subs.csv
Self-Projects/Airbnb price data/airbnb_model.h5
/Self-Projects/Airbnb price data/data
/Self-Projects/ISP Churn/structured_data_classifier
/kaggle-house-price-prediction/catboost_info
/kaggle-house-price-prediction/structured_data_classifier
/kaggle-house-price-prediction/structured_data_regressor
/kaggle-house-price-prediction/catboost_preds_solo_fulldata.csv
/kaggle-house-price-prediction/ensemble_preds_cat+xgb+lgbm_optuna_fulldata.csv
/kaggle-house-price-prediction/lgbm_preds_solo_full.csv
kaggle-house-price-prediction/lgbm_preds_solo.csv
kaggle-house-price-prediction/lgbm_preds_solo.csv
Pulsar Classification s3e10/sample_submission.csv
Pulsar Classification s3e10/train.csv
Pulsar Classification s3e10/test.csv
/Pulsar Classification s3e10/structured_data_classifier
/Pulsar Classification s3e10/pulsar_model.h5
Pulsar Classification s3e10/Pulsar.csv
/Pulsar Classification s3e10/catboost_info
Pulsar Classification s3e10/only_comp_data_ens_ann_cat_rf_full.csv
Playground s3e9 concrete/concrete_model.h5
/Playground s3e9 concrete/ens_lgbm_xgb_cat_fulldata_sub.csv
/Playground s3e9 concrete/ens_lgbm_xgb_fulldata_sub.csv
Self-Projects/kaggle products sold/book_model.h5
/Self-Projects/kaggle products sold/catboost_info
Self-Projects/kaggle products sold/ann_solo_half_data.csv
Self-Projects/kaggle products sold/ens_xgb_lgbm_cat_full_data.csv
.gitignore
Self-Projects/kaggle products sold/ens_xgb_lgbm_full_data.csv
Self-Projects/kaggle products sold/lgbm_full_data.csv
spaceship_titanic/spaceship_model.h5
spaceship_titanic/update_xgb_solo.csv
spaceship_titanic/update_lgbm_full.csv
spaceship_titanic/update_cat_solo.csv
.gitignore
spaceship_titanic/full_data_ens_based_on_scores.csv
spaceship_titanic/full_data_ens.csv
spaceship_titanic/update_lgbm_solo.csv
spaceship_titanic/update_xgb_full.csv
PM-Competition/rfcv.pkl
PM-Competition/telecom_model.h5
PM-Competition/rfcv-923.pkl
PM-Competition/cat_model_5cv_rmse_agegroup_2feat.pkl
/PM-Competition/lgbm_model_5cv_rmse_agegroup_2feat.pkl
PM-Competition/xgb_model_5cv_rmse_agegroup_2feat.pkl
/Playground s3e11/train.csv
/Playground s3e11/test.csv
/Playground s3e11/sample_submission.csv
/Playground s3e11/train_dataset.csv
Playground s3e11/ensemble_base_halfdata_reg.csv
/Playground s3e11/ensemble_base_halfdata_reg_feat_sel.csv
/Playground s3e11/ensemble_base_halfdata_reg_feat_sel_forward.csv
/Plauyground s3e12 urea/train.csv
/Plauyground s3e12 urea/test.csv
/Plauyground s3e12 urea/sample_submission.csv
Plauyground s3e12 urea/original.csv
Plauyground s3e12 urea/submission_ensemble_cat_lgb_xgb_rf_with_weights.csv
Plauyground s3e12 urea/submission_ensemble_xgb.csv
/s3e14 Blueberry yield/sample_submission.csv
/s3e14 Blueberry yield/test.csv
/s3e14 Blueberry yield/train.csv
/s3e15 heatflux imputation/data.csv
/s3e15 heatflux imputation/sample_submission.csv
/s3e25 Mohs Hardness/catboost_info
/s3e25 Mohs Hardness/lgbm_tuned.csv
/S3E26 Cirrhosis/test.csv
/S3E26 Cirrhosis/catboost_info
/S3E26 Cirrhosis/cirrhosis.csv
/S3E26 Cirrhosis/train.csv
S3E26 Cirrhosis/lgbm_sub.csv
/S4E1 Bank Churn/sample_submission.csv
/S4E1 Bank Churn/test.csv
/S4E1 Bank Churn/train.csv
/S4E1 Bank Churn/AutogluonModels
/House Price/AutogluonModels
/DisasterTweetsNLP - AutoGluon/AutogluonModels
/S4E2 Obesity/AutogluonModels
/Self-Projects/Loan Default/AutogluonModels
/s4e3 steel plate/AutogluonModels
/s4e3 steel plate/output-agPredictor_Bumps
/s4e3 steel plate/output-agPredictor_Dirtiness
/s4e3 steel plate/output-agPredictor_K_Scatch
/s4e3 steel plate/output-agPredictor_Other_Faults
/s4e3 steel plate/output-agPredictor_Stains
/s4e3 steel plate/output-agPredictor_Pastry
/s4e3 steel plate/output-agPredictor_Z_Scratch
s4e3 steel plate/output-agmultilabel_predictor.pkl
/Playground s4e6/AutogluonModels
/Playground s4e6/flaml-autog-ens.csv
Playground s4e6/Autog-out.csv
Playground s4e6/data.csv
Playground s4e6/flaml-autog-ens-final.csv
Playground s4e6/flaml-out.csv
Playground s4e6/mylog.log
Playground s4e6/sample_submission.csv
Playground s4e6/train.csv
Playground s4e6/test.csv
/S4E8 Mushrooms/catboost_info
/S4E8 Mushrooms/manual-ens.csv
/S4E8 Mushrooms/og.csv
/S4E8 Mushrooms/sample_submission.csv
/S4E8 Mushrooms/train.csv
/S4E8 Mushrooms/test.csv
/S4E8 Mushrooms/AutogluonModels
S4E8 Mushrooms/test-AG.parquet
S4E8 Mushrooms/__pycache__/mcc_func.cpython-310.pyc
S4E8 Mushrooms/train-AG.parquet
S4E8 Mushrooms/ag-ens.csv
S4E8 Mushrooms/flaml_lgbm.csv
/Self-Projects/Spotify Analysis/Spotify Account Data