/Self-Projects/Image - Fashion MNIST/fashion-mnist_test.csv
/Self-Projects/Image - Fashion MNIST/fashion-mnist_train.csv
/Self-Projects/Image - Fashion MNIST/t10k-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/t10k-labels-idx1-ubyte
/Self-Projects/Image - Fashion MNIST/train-images-idx3-ubyte
/Self-Projects/Image - Fashion MNIST/train-labels-idx1-ubyte
/Digit-Recognizer/sample_submission.csv
/Digit-Recognizer/test.csv
/Digit-Recognizer/train.csv
/Self-Projects/Image - Cats & Dogs Classification/test
/Self-Projects/Image - Cats & Dogs Classification/train
/Self-Projects/Image - Cats & Dogs Classification/model.h5
/Self-Projects/Image - Cats & Dogs Classification/model_own.h5
/Self-Projects/Image - Cats & Dogs Classification/best_model.h5
/Self-Projects/Image - Animal V2/Animal Classification
/Self-Projects/Image - Animal V2/Animal-Data-V2
/Self-Projects/Image - Animal V2/My-Model.h5
/Self-Projects/Image - Animal V2/OwnModel-Animals.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/PetImages/
/Self-Projects/Image - Cats vs Dogs Classification -new/model.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/Data
/Self-Projects/Image - Cats vs Dogs Classification -new/MYmodel.h5
/Self-Projects/Image - Cats vs Dogs Classification -new/inception_model.h5
/Self-Projects/Taxi Fare NYC - Predicting Price/rf-cv.pkl
/Self-Projects/Taxi Fare NYC - Predicting Price/taximodel.h5
/Self-Projects/song popularity/songmodel.h5
/Self-Projects/Engineering Salary Prediction/engg_model.h5
/Self-Projects/Engineering Salary Prediction/describe_df1.csv
/Self-Projects/Airline Passenger Satisfaction/sat_model.h5
/Self-Projects/House Rent Prediction/rent_model.h5
/Self-Projects/dma-project/rent_model.h5